.empty-list {
  color: red;
  padding: 30px;
  background: rgb(97, 250, 26);
}

.green {
  color: rgb(97, 250, 26);
}

.blue {
  color: rgb(84, 6, 251);
}

.brown{
  color: brown;
}

nav{
  display: flex;
}